# Environment variables
NEXT_PUBLIC_SUPABASE_URL=https://wcslukohojwtyxrebzd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indjc2x1a29ob2p3dHl4cmVibnpkIiwicm9sZSI6ImFub25fcm9sZSIsImlhdCI6MTc3NTM2MzM0MiwiZXhwIjoyMDkwOTM5MzQyfQ.example
